/* IMports  */
/* using custom npm module to show the gallery : */
@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";
@import "../node_modules/video-react/dist/video-react.css";

/* body {
  background-color: #100e17 !important;
  font-family: 'Open Sans', sans-serif !important;
} */

/* 
  .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }

  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin-left: -50px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .card:not(:first-child) {
      margin-left: -50px;
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }

  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }

  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }

  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }

  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }

  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }

  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }

  svg {
    fill: #17141d;
    stroke-width: 2px;
  }

  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  } */


/* image galery for pics and videos  */

/* .incident_media:after,
.incident_media:before {
  padding: 0;
  margin: 0;
  font-family: Arial;
}


.incident_media ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  list-style: none;
  width: 955px;
  height: 450px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 1px;
}


.incident_media li {
  position: relative;
  width: 190px;
  height: 450px;
  float: left;
  border-left: 1px solid white;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  box-shadow: -2px 0 10px 2px;
}

.incident_media ul li:first-child {
  border: none;
}

.incident_media span {
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  color: white;
  white-space: nowrap;
  padding: 20px;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  /* background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); */
  /* Chrome,Safari4+ */
  /* background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); */
  /* Opera 11.10+ */
  /* background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); */
  /* IE10+ */
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); */
  /* W3C */
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1); */
  /* IE6-9 */

/* } */

/* .incident_media img {
  width: 800px;
  height: 450px;
}

.incident_media ul:hover li {
  width: 50px;
}


.incident_media ul li:hover {
  width: 750px;
} */ 


/* using another approach to form the gallery  */
.incident_photo_gallery .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.incident_photo_gallery .column {
  flex: 25%;
  max-width: 18%;
  padding: 0 4px;
}

.incident_photo_gallery .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 50%;
  padding: 0px 8px
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .incident_photo_gallery .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .incident_photo_gallery .column {
    flex: 100%;
    max-width: 100%;
  }
}






/* scotch io : */
.title {
  font-family: 'Carter One';
}
.container {
  margin-top: 50px;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);  
}

img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-item:nth-child(5n){
  grid-column-end: span 2;
}



/* For Video Gallery : */
.video-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);  
}

.video_player{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .video-item:nth-child(5n){
  grid-column-end: span 2;
} */

.audio_player{
  align-self: center;
  margin-top:5%
}

.audioCarousel_show_none{
  display: none
}

.audio_carousel .control-dots,.video_carousel .control-dots{
  background-color: black !important
}


.incident_people .card *{
  max-width: 120px;
  max-height: 100px;
  font-size:x-small;
  padding:2px;
  margin-left: 1px;
  text-align: center;
}

.incident_people .card-text{
  max-height:56px;
  font-size:8px;
  word-break: break-all;
}


/* react table */
.ReactTable *,.rt-tbody *{
  background-color: black;
  color: beige
}

 .rt-tr.-even *{
  border-bottom: solid 1px rgba(0,0,0,0.05);
  background-color: #0b7f5ae8;
 }
 .rt-tr.-odd *{
  border-bottom: solid 1px rgba(0,0,0,0.05);
  background-color: #242e39;
 }

.-previous:hover,.-next:hover{
  background-color: #0b7f5ae8;
}
.-center .-pageJump *,.-center .select-wrap *{
  color:black;
  background-color:white;
}

/* .modal-header{
  background-color: #ff4f87;
  color:black
}
.modal-body .nav-tabs *{
  background-color: #ff4f87;
  color:white;
  font-display:bold;
}

.modal-body .nav-link{
  border:1px solid transparent;
  padding:5px;
  margin:1.5px;
} */


.incident_people .h3{
  font-size: 94%;
  margin: 2%;
}

.incident_people .card-group{
  border: 2px solid lightgrey;
  box-shadow: 1px 1px 8px 0px;
}
.incident_people .card-group .card:hover{
  transform: scale(1.5);
}

.incident_people .card{
  align-items: center;
  padding-top: 8px;
}

/* resize the modal */
/* @media screen and (min-width: 768px) {
  .modal-content{
    width:500px
  }
}

@media screen and (min-width: 400px) {
  .modal-content{
    width:300px
  }
} */


/* Hirizontal operson scroll  */
.recently_viewed{
  overflow-x: scroll;
}

/* for horizontal scrolling */
.row.flex-row.flex-nowrap{
  overflow-x: auto
}





body
{
  margin:0px;
  padding:0px;
	font-family: "Open Sans", arial;
	background:url('/assets/background4.jpg');
	/* color:#fff; */
	font-weight:300;

}
html,#root{
  /* background:url('/assets/background4.jpg') !important; */
}

.page_layout{
  /* background-color: white; */
  margin: 10px;
  margin-left: 25px;
}


.custom_container{
  margin:30px;
}
/* React table Overrides */
.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select{
  color:black !important
}