.departments_title{
        
        margin-left: 20px;
}
.departments_logo_thumb{
    width:auto;
    margin-left: 20px;
}

.departments_description{
    padding: 5px;
    margin-left: 20px;
}

.departments_footer{
    margin-left: 20px;
}

.departments_list{
    color:black;
    text-decoration: none;
}

a:link{
    text-decoration: none!important;
  }

  a:hover{
    color: inherit !important
  }