html {
    height: 100%;
 }
 
 body {
    background: #633;
    color: #fff;
    display: flex;
    min-height: 100%;
 }
 
 #app {
    flex: 1;
 }
 
 .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 98%;
 }
 
 .table-row {
    border-top: 1px solid rgba(255, 255, 255, .2);
 }
 
 .ReactVirtualized__Table__headerRow {
    border: 0;
    color: #ff0;
 }