.media_image{
    max-width:200px;
    max-height: 88%;
}
.media{
    margin-top: 20px;
    margin-left: 48px;
    padding:12px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc; 
}
.search_bar{
    min-width: -webkit-fill-available;
    font-size: xx-large;
    margin-top: 20px;
    text-align: center;
    margin-left: 48px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc; 
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  @media screen and (max-width: 600px) {
    input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
   
    input[type=text] {
      border: 1px solid #ccc;
    }
  }


  /* Crime Card */
  .related_data .card-columns .card{
    height: inherit;
  }
  .related_data_wrapper{
    background-color: cadetblue;
    padding: 0px;
    margin: 11px !important;
  }

  /* For perosn card */
  @import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  /* background: #FCEEB5; */
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 450px;
  height: 250px !important;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 ,.card h3{
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: -webkit-fill-available;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1,.card .additional .more-info h3 {
  color: #fff;
  margin-bottom: 0;
  /* margin-left: 10px; */
  margin-top: 25px;
}

.card.green .additional .more-info h1,.card.green .additional .more-info h3 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
  width: fit-content;
}

/* .h3{
  margin-top: 27px;
} */
.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  /* float: right; */
  font-size: 10px;
  margin-left: 10px;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: -webkit-fill-available;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}


.skin { fill: #eab38f; }
.eyes { fill: #1f1f1f; }
.hair { fill: #2f1b0d; }
.line { fill: none; stroke: #2f1b0d; stroke-width:2px; }

.person_card_wrapper{
    width: -webkit-fill-available;
}

.person_card_wrapper .card{
    width:auto;
}


/* Forms  */
.form_card_wrapper .media{
  box-shadow:2px 3px 1px 0px #ccc;
  background-color: darkgray;
}

.form_card_wrapper .summary{
  font-size: 10px;
  text-align: justify;
}

.form_card_wrapper .summary em{
  font-style: italic;
  font-weight: bold;
  color: blue
}


.search_people{
  margin-top:10%;
  padding-left: 44px;

}

.page_count{
  margin-top: 1%;
}

.summary{
  margin-top: 0px !important;
}
.search_brief{
  margin-left: 44px;
}

.more_button_search_result_card{
  margin-left:10px;
}

.highlighted_person_info_title{
  font-size: 14px;
}

.highlighted_person_info{
  font-size: 12px;
}

.additional_metadata_people_search{
  margin-left: 46px;
    margin-top: 29px;
}